@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes animname {
  0% { }
  50% { }
  100% { } }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: white; }

.sidebar {
  background: pink; }

.testing {
  width: 50%; }

.swiper-container-article, .swiper-container-video, .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: red;
  width: 80% !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-slide:nth-child(2n) {
  width: 60%; }

.swiper-slide:nth-child(3n) {
  width: 40%; }
