//IMPORTS
@import "import.reset.scss";
@import "import.fonts.scss";
@import "import.animations.scss";
@import "import.variables.scss";
@import "import.mixins.scss";


//STYLES
html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: white;
}
.sidebar{
	background:pink;
}

.testing {
  width: percentage(5/10);
}


    .swiper-container-article ,.swiper-container-video ,.swiper-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: red;
        width: 80% !important;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide:nth-child(2n) {
        width: 60%;
    }
    .swiper-slide:nth-child(3n) {
        width: 40%;
    }